*{
    font-family:Arial, Helvetica, sans-serif;
}
body{
    background-color: #f1f1f1;
    margin: 0;
    padding: 0;
}
nav{
    background-color: black;
    color: white;
    overflow: hidden;
    width: 100%;
}
nav a{
    float: left;
    color: #f2f2f2;
    display: block;
    text-decoration: none;
    text-align: center;
    padding: 16px 16px;
}
nav a:hover{
    color: rgb(23, 141, 245);
}
.skills{
    display: flex;
    flex-direction: column;
    margin: 20px;
    padding: 30px;
    background-color: white;
    text-align: center;
    height: 400px;
}
.skills-card{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.skills-card .card-body{
    border: 2px solid rgb(219, 217, 217);
    border-radius: 8px;
    height: 150px;
    width: 100px;
    padding: 20px;
    img{
        height: 150px;
        width: 80px;
        object-fit:contain;
    }
}
#c1:hover{
    border: 2px solid orange;
    box-shadow: 1px 1px 8px 2px orange;
}
#c2:hover{
    border: 2px solid rgb(4, 250, 12);
    box-shadow: 1px 1px 8px 2px rgb(0, 255, 0);
}
#c3:hover{
    border: 2px solid orangered;
    box-shadow: 1px 1px 8px 2px rgb(249, 86, 26);
}
#c4:hover{
    border: 2px solid rgb(4, 147, 250);
    box-shadow: 1px 1px 8px 2px rgb(0, 174, 255);
}
#c5:hover{
    border: 2px solid rgb(251, 255, 0);
    box-shadow: 1px 1px 8px 2px rgb(251, 255, 0);
}
@media screen and (max-width:880px) {
    .skills-card{
        display: grid;
        grid-template-columns: auto auto auto auto;
        gap: 1rem;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .skills{
        height: 100%;
    }
}
@media screen and (max-width:685px) {
    .skills-card{
        display: grid;
        grid-template-columns: auto auto auto;
        gap: 1rem;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .skills{
        height: 100%;
    }
}
@media screen and (max-width:535px) {
    .skills-card{
        display: grid;
        grid-template-columns: auto auto;
        gap: 1rem;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .skills{
        height: 100%;
    }
}
@media screen and (max-width:357px) {
    .skills-card{
        display: grid;
        grid-template-columns: auto;
        gap: 1rem;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .skills{
        height: 100%;
    }
}

.certificates-card{
    border: 2px solid #d0cfcf;
    width: 600px;
    height: 300px;
}

.row{
    display: flex;
    flex-direction: column;
    margin: 20px;
    padding: 30px;
    background-color: white;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: auto;
}
.certificates-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}


/* Slideshow */
.carousel {
    position: relative;
    width: 80%;
    max-width: 800px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    background-color: white;
}

.carousel-inner {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel-item {
    min-width: 100%;
    box-sizing: border-box;
    position: relative;
}

.carousel-item img {
    width: 100%;
    height: 450px;
    display: block;
    border-radius: 10px;
}
#carousel2{
    position: relative;
    width: 450px;
    max-width: 450px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    background-color: white;
}
#carousel2 img{
    width: 450px;
    height: 500px;
}
.carousel-control-prev,
.carousel-control-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgb(31, 64, 248);
    opacity: 0.5;
    border: none;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    padding: 10px;
    border-radius: 50%;
    user-select: none;
}
.carousel-control-prev:hover,
.carousel-control-next:hover{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgb(31, 64, 248);
    opacity: 1;
    border: none;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    padding: 10px;
    border-radius: 50%;
    user-select: none;
}

.carousel-control-prev {
    left: 10px;
}

.carousel-control-next {
    right: 10px;
}

.carousel-indicators {
    margin-top: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.carousel-indicators .dot {
    height: 15px;
    width: 15px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
}

.carousel-indicators .dot.active {
    background-color: #717171;
}